/*
  These are examples of styles for the button icons (you must supply the icon files yourself)

  For nice icon sets, check out the following sites.
  - http://www.famfamfam.com/
  - http://code.google.com/p/fugue-icons/
    - http://www.everaldo.com/crystal/

    See the notice.txt file in the images folder for possible licence conflicts with these images.
    Some icons may be licenced under the Creative Commons licence - http://creativecommons.org/licenses/by/2.5/

    Some icons have been modified slightly from their source files, in which case the original authors license still applies.

*/
.x-edit-table {background: url(../images/default/editor/edit-table.png) 0 0 no-repeat !important;}
.x-edit-hr {background: url(../images/default/editor/edit-rule.png) 0 0 no-repeat !important;}
.x-edit-image {background: url(../images/default/editor/edit-image.png) 0 0 no-repeat !important;}
.x-edit-upload {background: url(../images/default/editor/edit-upload.png) 0 0 no-repeat !important;}

/*
    When using the famfamfam set of icons, the following styles can be used, assuming the famfamfam
    set of icons was extracted to a folder named 'icons' - Thanks to 'dearsina' on the Ext JS Forums for this.
.x-edit-table {background: url(icons/table.png) 0 0 no-repeat !important;}
.x-edit-hr {background: url(icons/text_horizontalrule.png) 0 0 no-repeat !important;}

*/
